<header>
    <div class="container">
        {{! passing cssg.json data inside title template }}
        <a class="logo" href="/" title="{{globWithContext "includes/title.hbs" cssg}}">
            <span class="logo_img">
                <img src="{{assets}}/i/logo.png" alt="CSSG logo"/>
            </span>
            <span class="logo_tx">
                {{shortname}}
            </span>
        </a>
        <nav class="nav">
            {{> mainMenu}}

            <div class="share">
                <a class="share_i __github" target="_blank" title="Star on Github" href="https://github.com/CSSG">
                    <i class="icon-github"></i><span>Star on Github</span>
                </a>
                <a class="share_i __facebook" target="_blank" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{href}}/">
                    <i class="icon-facebook"></i>
                </a>
                <a class="share_i __twitter" target="_blank" title="Share on Twitter" href="https://twitter.com/intent/tweet?text=CSS-o-Gram Rocks!&amp;url={{href}}/">
                    <i class="icon-twitter"></i>
                </a>
            </div>
        </nav>
    </div>
</header>